# Specify all files of your project to be exclude by docker build process.
# that  will speed up the Docker build process as our local dependencies
# and git repo will not be sent to the Docker daemon.

# Git
.git
.gitignore

# Ignore OS artifacts
**/.DS_Store

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/

# Vue
node_modules