# Define your dependencies here

# Install the latest version of Django framework 4.0.2 but less than 4.1.0 version.
Django>=4.0.2,<4.1.0

# Install the latest version of Django REST framework 3.13 but less than 3.14 version.
djangorestframework>=3.13.0,<3.14.0

# Install python package 'psycopg2' that used by Django to communicate with Postgres.
# Note: this package need temporary dependencies 'gcc, libc-dev, linux-headers and postgresql-dev' while installing.
psycopg2>=2.9.3,<2.10.0

# Install python linting tool 'flake8'.
flake8>=4.0.1,<4.1.0